.hexagon {
    width: 80px;
    height: 46.242px;
    background: rgb(94, 80, 80);
    position: relative;
}

.hexagon::before {
    content: "";
    position: absolute;
    top: -22.794px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 22.794px solid rgb(94, 80, 80);
}

.hexagon::after {
    content: "";
    position: absolute;
    bottom: -22.794px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 22.794px solid rgb(94, 80, 80);
}